body {
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    background-color: transparent;
}

/* a:hover {
    color: white !important;
} */

.icon {
    color: rgba(228, 152, 239, .8);
}
